extends ./components/main
block head
    link(rel="stylesheet", href="css/loginStyle.css")
    title Soy login
block content
    .contenedor
        h1 Iniciar sesión
        form#formCuenta
            div
                label(for="username") Usuario:
                input#username(type="text", name="username",class="form-control" required)
            div
                label(for="password") Contraseña:
                input#password(type="password", name="password",class="form-control" required)
            div
                button.btn.btn-primary(type="submit") Iniciar sesión
        
        h1#cartel
    script(src="./js/Cuenta.js")