nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/generarCRUD') Crear Recurso
      li.nav-item
        a.nav-link(href='/VistaRegistro') Registro
      li.nav-item
        a.nav-link(href='/Vistalogin') Iniciar Sesion
      li.nav-item
        a.nav-link(href='/VistaUserSpace') Recursos