header 
    nav
        ul 
            li 
                a(href="/generarCRUD") Home
            li 
                a(href="/VistaRegistro") Registro
            li 
                a(href="/Vistalogin") Login
            li 
                a(href="/VistaUserSpace") Recursos